<div class="container">

  <div class="kassaScherm">

    <div class="kassaSchermLinks">

      <div class="kassaOverzichtTitle">Overzicht</div>
      <div class="kassaOverzicht mat-elevation-z8">
        <div class="timestamp">{{ timestamp | date:'dd/MM/yyyy' }}</div>
        <div class="saldo">In kas: {{ kassaService.state.saldo | currency : 'EUR'}}</div>
        <div class="tegoed">Openstaande rekeningen: {{ kassaService.state.tegoed | currency : 'EUR'}}</div>
        <div class="kassaActies">
          <button mat-raised-button color="primary" (click)="kassaTellen()">kassa tellen</button>
          <button mat-raised-button color="primary" (click)="kassaAfsluiten()">kassa afsluiten</button>
          <button mat-raised-button color="primary" (click)="kassaSquashen()">kassa squashen</button>
        </div>
      </div>

      <div class="tellingenTitle">Tellingen</div>
      <div class="tellingen mat-elevation-z8">
        <div class="tellingTimestamp tellingTitle">Tijdstip</div>
        <div class="theoretischSaldo tellingTitle">Theoretisch bedrag</div>
        <div class="werkelijkSaldo tellingTitle">Effectief bedrag</div>
        <div class="verschil tellingTitle">Verschil</div>
        <ng-container *ngFor="let telling of (kassaService.state$ | async).tellingen">
          <div class="tellingTimestamp">{{telling.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</div>
          <div class="theoretischSaldo">{{telling.kassaSaldo | currency : 'EUR'}}</div>
          <div class="werkelijkSaldo">{{telling.tellingSaldo | currency : 'EUR'}}</div>
          <div class="verschil" [ngClass]="getVerschilStatus(telling)">{{telling.verschil | currency : 'EUR'}}</div>
        </ng-container>
      </div>

    </div>

    <div class="kassaSchermRechts">

      <div class="onbetaaldeAankopenViaOverschrijvingTitle">Aankopen via overschrijving</div>
      <div class="onbetaaldeAankopenViaOverschrijving mat-elevation-z8">
        <div class="oavioDatum tellingTitle">Datum</div>
        <div class="oavioKlantNaam tellingTitle">Naam</div>
        <div class="oavioBedrag tellingTitle">Bedrag</div>
        <div class="oavioBetalen tellingTitle">Verifieren</div>

        <ng-container *ngFor="let oavo of (kassaService.state$ | async).afrekeningenViaOverschrijving">
          <div class="oavioDatum">{{oavo.datum | date:'dd/MM/yyyy'}}</div>
          <div class="oavioKlantNaam">{{oavo.klant.naam}}</div>
          <div class="oavioBedrag">{{oavo.bedrag | currency : 'EUR'}}</div>
          <div class="oavioBetalen">
            <img *ngIf="!oavo.geverifieerd" src="img://img/payment.svg" (click)="betaalOnbetaaldeAankopenViaOverschrijving(oavo)" class="clickable">
            <img *ngIf="oavo.geverifieerd" src="img://img/checked.svg">
          </div>
        </ng-container>
      </div>


      <div class="afsluitingenTitle">Afsluitingen</div>
      <div class="afsluitingen mat-elevation-z8">
        <div class="afsluitingDatum tellingTitle">Datum</div>
        <div class="afsluitingOpmerking tellingTitle">Opmerking</div>
        <div class="afsluitingBedrag tellingTitle">Bedrag</div>
        <ng-container *ngFor="let afsluiting of (kassaService.state$ | async).afsluitingen">
          <div class="afsluitingDatum">{{afsluiting.timestamp | date:'dd/MM/yyyy'}}</div>
          <div class="afsluitingOpmerking">{{afsluiting.opmerking}}</div>
          <div class="afsluitingBedrag">{{afsluiting.bedrag | currency : 'EUR'}}</div>
        </ng-container>
      </div>

      <div class="dagAfrekeningenTitle">Dagafrekeningen</div>
      <div class="dagAfrekeningen mat-elevation-z8">
        <div class="dagAfrekeningDatum tellingTitle">Datum</div>
        <div class="dagAfrekeningBedrag tellingTitle">Bedrag</div>
        <ng-container *ngFor="let dagAfrekening of (kassaService.state$ | async).dagAfrekeningen">
          <div class="dagAfrekeningDatum">{{dagAfrekening.datum | date:'dd/MM/yyyy'}}</div>
          <div class="dagAfrekeningBedrag">{{dagAfrekening.bedrag | currency : 'EUR'}}</div>
        </ng-container>
      </div>
    </div>

  </div>
</div>
