.klantTypeSelectie {
}

.radioButton {
  margin-left: 10px;
}

.createKlantForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.avatar {
  width: 225px;
  height: 225px;
  background: url("../../../../assets/visitor.jpg");
}


.naamInput {
  width: 100%;
}
