<h1 mat-dialog-title class="mat-headline">Klant</h1>


<mat-dialog-content>

  <div id="createKlantForm">

    <div class="avatarContainer clickable" (click)="changeAvatar()">
      <img *ngIf="heeftAvatar(klant)" class="avatarGroot" [src]="avatar">
      <img *ngIf="!heeftAvatar(klant)" class="avatarGroot" src="file://img/avatarDefault.jpg">
    </div>

    <mat-form-field id="naamField">
      <mat-label>Naam</mat-label>
      <input matInput [(ngModel)]="naam">
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="ok()">ok</button>
  <button mat-button [mat-dialog-close]="cancel">cancel</button>
</mat-dialog-actions>
