.rekening {
  border-top: 2px solid #333337;
  margin-top: 20px;
}

.klantNaam {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

.rekeningLijnen {
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-auto-rows: auto;
}

.rekeningLijnTitle {
  font-weight: bold;
}

.rekeningLijnOmschrijving{
  grid-column: 1;
  vertical-align: center;
}

.rekeningLijnPrijs {
  grid-column: 2;
  text-align: right;
  vertical-align: center;
}

.rekeningLijnViaOverschrijving {
  grid-column: 3;
  text-align: center;
  vertical-align: center;
}

.rekeningLijnVerwijderen {
  grid-column: 4;
  text-align: right;
  vertical-align: center;
  cursor: pointer;
}

.rekeningLijnAantal {
  grid-column: 5;
  text-align: center;
  vertical-align: center;
}

.rekeningLijnToevoegen {
  grid-column: 6;
  text-align: left;
  cursor: pointer;
}

.rekeningLijnTotaal {
  grid-column: 7;
  text-align: right;
  vertical-align: center;
}

.rekening .title {
  font-size: 1.5em;
}

.rekeningTotaal {
  border-top: 1px dotted #333337;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #333337;
}

.totaalTitle {
  font-weight: bold;
  flex-grow: 10;
}

.totaalBedrag {
  font-weight: bold;
}

.gegevenTerug {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #333337;
}

.gegeven {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-weight: bold;
}

.gegevenTitle {
  flex-grow: 10;
}

.terug {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.terugTitle {
  flex-grow: 10;
}

.viaOverschrijving {
  border-top: 2px solid #333337;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.totaalBedragViaOverschrijving {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 35px;
}

.qrCode {
  margin-bottom: 20px;
}
