<h1 mat-dialog-title class="mat-headline">Rekening</h1>

<mat-dialog-content>

  <div class="avatarContainer">
    <img *ngIf="isLid(data) && heeftAvatar(data.klantId)" class="avatarGroot" [src]="getAvatarUrl(data.klantId)">
    <img *ngIf="isLid(data) && !heeftAvatar(data.klantId)" class="avatarGroot" src="file://img/avatarDefault.jpg">
    <img *ngIf="isGast(data)" class="avatarGroot" src="file://img/avatarGast.jpg">
  </div>

  <div class="klantNaam">
    {{data.naam}}
  </div>

  <div class="rekening">

    <div class="rekeningLijnen">
      <span class="rekeningLijnOmschrijving rekeningLijnTitle">Product</span>
      <span class="rekeningLijnPrijs rekeningLijnTitle">Prijs</span>
      <span class="rekeningLijnAantal rekeningLijnTitle">Aantal</span>
      <span class="rekeningLijnTotaal rekeningLijnTitle">Totaal</span>
      <ng-container *ngFor="let rekeningLijn of getRekening().rekeningLijnen">
        <span class="rekeningLijnOmschrijving">{{rekeningLijn.productNaam}}</span>
        <span class="rekeningLijnPrijs">{{rekeningLijn.prijs | currency : 'EUR'}}</span>
        <div class="rekeningLijnVerwijderen" (click)="aankoopVerwijderen(rekeningLijn.productId)">
          <img src="file://img/remove.svg">
        </div>
        <span class="rekeningLijnAantal">{{rekeningLijn.aantal}}</span>
        <div class="rekeningLijnToevoegen" (click)="aankoopToevoegen(rekeningLijn.productId)">
          <img src="file://img/add.svg">
        </div>
        <span class="rekeningLijnTotaal">{{rekeningLijn.totaal | currency : 'EUR'}}</span>
      </ng-container>
    </div>

    <div class="rekeningTotaal">
      <span class="totaalTitle">Totaal:</span> <span class="totaalBedrag">{{getAankoopTotaal() | currency : 'EUR'}}</span>
    </div>
  </div>

  <div class="gegevenTerug" *ngIf="betalen">
    <div class="gegeven">
      <span class="gegevenTitle">Gegeven:</span>
      <span class="gegevenInput"><mat-form-field><input matInput type="text" currencyMask [(ngModel)]="gegeven" (ngModelChange)="berekenTerug()"></mat-form-field></span>
    </div>


    <div class="terug" *ngIf="!errorMessage && terug">
      <span class="terugTitle">Terug:</span>
      <span class="terugBedrag">{{terug | currency : 'EUR'}}</span>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="ok()" [disabled]="!heeftGenoegBetaald && betalen">Ok</button>
  <button *ngIf="!betalen" mat-raised-button color="primary" (click)="setBetalen()" [disabled]="getAankoopTotaal() < 0.01">Afrekenen</button>
  <button *ngIf="betalen" mat-raised-button color="primary" (click)="annuleerAfrekenen()">Annuleer afrekenen</button>

</mat-dialog-actions>
