<div class="container">

  <div id="klantenTitle">Klanten beheren</div>

  <div class="klantenLijst mat-elevation-z8">
    <div></div>
    <div class="tableTitle">Naam</div>
    <div class="tableTitle">Schuld</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

    <ng-container *ngFor="let klant of (klantService.state$ | async).getKlanten()">
      <div class="klantSortOrder tableItem">{{klant.sortOrder}}</div>
      <div class="klantNaam tableItem">{{klant.naam}}</div>
      <div class="klantSchuld tableItem">{{klant.getSchuld() | currency : 'EUR'}}</div>
      <div class="klantEdit tableItem">
        <img src="img://img/edit.svg" (click)="openKlantDialog(klant)" class="clickable">
      </div>
      <div class="klantDelete tableItem">
        <img src="img://img/delete.svg" *ngIf="!klant.heeftOnbetaaldeAankopen()" (click)="deleteKlant(klant.klantId)" class="clickable">
      </div>
      <div class="klantDown tableItem">
        <img src="img://img/down.svg" (click)="moveKlantDown(klant.klantId)" class="clickable">
      </div>
      <div class="klantUp tableItem">
        <img src="img://img/up.svg" (click)="moveKlantUp(klant.klantId)" class="clickable">
      </div>
    </ng-container>
  </div>


  <div class="buttonRow">
    <button mat-raised-button color="primary" (click)="openKlantDialogVoorNieuweKlant()">Klant toevoegen</button>
  </div>

</div>
