.aankoopViaOverschrijving {
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 0px;
  grid-auto-rows: auto;
  padding-top: 10px;
}

.aankoopViaOverschrijving div {
  font-weight: bold;
}

.datum {
  grid-column: 1;
}

.klantNaam {
  grid-column: 2;
}

.bedrag {
  grid-column: 3;
}
