.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  margin-top: 10px;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.klantBox {
  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;
  color: #807f7c;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.klantNaam {
  flex-grow: 10;
}

.onbetaaldeAankopen {
  text-align: right;
}


.logo {
  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;
  color: #807f7c;
  grid-column: 3 / 5;
  grid-row: 1 / 4;
}


.debugInfo {

}

.onbetaaldeAankopenDiv{
  position: relative;
}

.onbetaaldeAankopenIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
