<div class="grid">

  <div class="logo">one</div>

  <ng-container *ngFor="let klant of klantService.state$ | async">
    <div (click)="openKlantDialog(klant)">{{klant.voornaam}}</div>
  </ng-container>

  <div class="persoon" (click)="openKlantAanmakenDialog()">
    <mat-icon class="accountIcon" >account_circle</mat-icon> klant toevoegen
  </div>


</div>

<div class="debugInfo">

  <div class="json">
  <pre>
  {{kassaService.state | json}}
  </pre>
  </div>

  <div class="json">
  <pre>
  {{klantService.state | json}}
  </pre>
  </div>

  <div class="json">
  <pre>
  {{productService.state | json}}
  </pre>
  </div>
</div>
