<div class="grid">

  <div class="logo">one
    <div class="laatsteTelling">Laatste telling: {{laatsteTelling() | date:'dd/MM/yyyy'}}</div>
    <div class="laatsteAfsluiting">Laatste afsluiting: {{laatsteAfsluiting() | date:'dd/MM/yyyy'}}</div>
  </div>

  <ng-container *ngFor="let klant of klantService.state$ | async">
    <div class="klantBox" (click)="openKlantDialog(klant)" >
      <div class="klantNaam">{{klant.naam}}</div>
      <div class="onbetaaldeAankopen" *ngIf="klant.heeftOnbetaaldeAankopen()" ><mat-icon>shopping_cart</mat-icon></div>
    </div>
  </ng-container>

  <div class="klantBox" (click)="openKlantAanmakenDialog()">
    <mat-icon class="accountIcon" >account_circle</mat-icon> klant toevoegen
  </div>

</div>

<div class="debugInfo">

  <div class="json">
  <pre>
  {{kassaService.state | json}}
  </pre>
  </div>

  <div class="json">
  <pre>
  {{klantService.state | json}}
  </pre>
  </div>

  <div class="json">
  <pre>
  {{productService.state | json}}
  </pre>
  </div>
</div>
