<div class="grid">

  <div class="logo mat-elevation-z3">
    <div id="logo"></div>
    <div class="laatsteTelling">Laatste telling: {{laatsteTelling() | date:'dd/MM/yyyy'}}</div>
    <div class="laatsteAfsluiting">Laatste afsluiting: {{laatsteAfsluiting() | date:'dd/MM/yyyy'}}</div>
  </div>

  <ng-container *ngFor="let klant of klantService.state$ | async">
    <div class="klantBox mat-elevation-z3" (click)="openKlantDialog(klant)" >
      <div class="klantAvatar"><img class="rond avatarKlein" [src]="getAvatar(klant.klantId)"></div>
      <div class="klantNaam">{{klant.naam}}</div>
      <div class="onbetaaldeAankopen" *ngIf="klant.heeftOnbetaaldeAankopen()" ><mat-icon>shopping_cart</mat-icon></div>
    </div>
  </ng-container>

  <div class="klantBox mat-elevation-z3" (click)="openKlantAanmakenDialog()">
    <div class="klantAvatar gastToevoegenAvatar"></div>
    <mat-icon class="accountIcon" >account_circle</mat-icon>
    <div class="klantNaam">gast toevoegen</div>
  </div>

</div>











<div class="debugInfo">

  <div class="json">
  <pre>
  {{kassaService.state | json}}
  </pre>
  </div>

  <div class="json">
  <pre>
  {{klantService.state | json}}
  </pre>
  </div>

  <div class="json">
  <pre>
  {{productService.state | json}}
  </pre>
  </div>
</div>
