<div class="container">

  <div class="historiekScherm">

    <div class="jaar" *ngFor="let jaar of (stateService.state$ | async).getHistoriek().jaren.reverse()">
      <div class="historiekJaarTitle">{{jaar.jaar}}</div>
      <div class="jaarOverzicht mat-elevation-z8">

        <div class="jaarOverzichtLinks">

          <div class="samenvattingTitle">Samenvatting</div>
          <div class="jaarSamenvatting mat-elevation-z8">
            <div class="samenvattingLabel">Bedrag in kas start {{jaar.jaar}}</div>
            <div class="samenvattingOperator"></div>
            <div class="samenvattingValue">{{jaar.samenvatting.saldoStart | currency : 'EUR'}}</div>

            <div class="samenvattingLabel">Tellingen</div>
            <div class="samenvattingOperator">+</div>
            <div class="samenvattingValue">{{jaar.samenvatting.saldoTellingen | currency : 'EUR'}}</div>

            <div class="samenvattingLabel">Afrekeningen in cash</div>
            <div class="samenvattingOperator">+</div>
            <div class="samenvattingValue">{{jaar.samenvatting.saldoCash | currency : 'EUR'}}</div>

            <div class="samenvattingLabel">Afsluitingen</div>
            <div class="samenvattingOperator">-</div>
            <div class="samenvattingValue">{{jaar.samenvatting.saldoAfsluitingen | currency : 'EUR'}}</div>

            <div class="samenvattingLabel">Bedrag in kas eind {{jaar.jaar}}</div>
            <div class="samenvattingOperator">=</div>
            <div class="samenvattingValue">{{jaar.samenvatting.saldoEnd | currency : 'EUR'}}</div>

            <div class="samenvattingLabel">Afgerekend door overschrijving</div>
            <div class="samenvattingOperator"><b></b></div>
            <div class="samenvattingValue">{{jaar.samenvatting.saldoOverschrijvingen | currency : 'EUR'}}</div>

            <div class="samenvattingLabel">Inkomsten ({{jaar.samenvatting.saldoCash | currency : 'EUR'}} + {{jaar.samenvatting.saldoOverschrijvingen | currency : 'EUR'}} + {{jaar.samenvatting.saldoTellingen | currency : 'EUR'}})</div>
            <div class="samenvattingOperator"><b></b></div>
            <div class="samenvattingValue">{{jaar.samenvatting.inkomsten | currency : 'EUR'}}</div>
          </div>

          <ng-container *ngIf="jaar.afsluitingen.length > 0">
          <div class="afsluitingenTitle">Afsluitingen</div>
          <div class="afsluitingen mat-elevation-z8">
            <div class="afsluitingDatum tellingTitle">Datum</div>
            <div class="afsluitingOpmerking tellingTitle">Opmerking</div>
            <div class="afsluitingBedrag tellingTitle">Bedrag</div>
            <ng-container *ngFor="let afsluiting of jaar.afsluitingen">
              <div class="afsluitingDatum">{{afsluiting.datum | date:'dd/MM/yyyy'}}</div>
              <div class="afsluitingOpmerking">{{afsluiting.opmerking}}</div>
              <div class="afsluitingBedrag">{{afsluiting.bedrag | currency : 'EUR'}}</div>
            </ng-container>
          </div>
          </ng-container>

          <ng-container *ngIf="jaar.verkoopPerProduct.length > 0">
          <div class="aankopenPerProductTitle">Aankopen per product</div>
          <div class="aankopenPerProduct mat-elevation-z8">
            <div class="afsluitingDatum tellingTitle">Product</div>
            <div class="afsluitingOpmerking tellingTitle">Aantal</div>
            <div class="afsluitingBedrag tellingTitle">Bedrag</div>
            <ng-container *ngFor="let verkoopPerProduct of jaar.verkoopPerProduct">
              <div class="afsluitingDatum">{{verkoopPerProduct.productNaam}}</div>
              <div class="afsluitingOpmerking">{{verkoopPerProduct.aantalVerkocht}}</div>
              <div class="afsluitingBedrag">{{verkoopPerProduct.bedrag | currency : 'EUR'}}</div>
            </ng-container>
          </div>
          </ng-container>

        </div>

        <div class="jaarOverzichtRechts">

          <ng-container *ngIf="jaar.tellingen.length > 0">
          <div class="tellingenTitle">Tellingen</div>
          <div class="tellingen mat-elevation-z8">
            <div class="tellingTimestamp tellingTitle">Tijdstip</div>
            <div class="theoretischSaldo tellingTitle">Theoretisch bedrag</div>
            <div class="werkelijkSaldo tellingTitle">Effectief bedrag</div>
            <div class="verschil tellingTitle">Verschil</div>
            <ng-container *ngFor="let telling of jaar.tellingen">
              <div class="tellingTimestamp">{{telling.datum | date:'dd/MM/yyyy HH:mm:ss'}}</div>
              <div class="theoretischSaldo">{{telling.theoretischBedrag | currency : 'EUR'}}</div>
              <div class="werkelijkSaldo">{{telling.effectiefBedrag | currency : 'EUR'}}</div>
              <div class="verschil">{{telling.verschil | currency : 'EUR'}}</div>
            </ng-container>
          </div>
          </ng-container>

          <ng-container *ngIf="jaar.verkoopPerKlant.length > 0">
          <div class="aankopenPerProductTitle">Aankopen per klant</div>
          <div class="aankopenPerProduct mat-elevation-z8">
            <div class="klantNaam title">Klant</div>
            <div class="klantAantal title">Aantal</div>
            <div class="klantBedrag title">Bedrag</div>
            <ng-container *ngFor="let verkoopPerKlant of jaar.verkoopPerKlant">
              <div class="klantNaam">{{verkoopPerKlant.klantNaam}}</div>
              <div class="klantAantal">{{verkoopPerKlant.aantalGekocht}}</div>
              <div class="klantBedrag">{{verkoopPerKlant.bedrag | currency : 'EUR'}}</div>
            </ng-container>
          </div>
          </ng-container>


        </div>
      </div>

    </div>

  </div>
