<div class="container">

  <div class="historiekScherm">

    <div class="jaar" *ngFor="let jaar of (historiekService.state$ | async).jaren">
      <div class="historiekJaarTitle">{{jaar.jaar}}</div>
      <div class="jaarOverzicht mat-elevation-z8">

        <div class="jaarOverzichtLinks">
          <div class="samenvattingTitle">Samenvatting</div>
          <div class="jaarSamenvatting mat-elevation-z8">
            <div class="saldoStart">Saldo start: {{jaar.samenvatting.saldoStart | currency : 'EUR'}}</div>
            <div class="saldoEnd">Saldo end: {{jaar.samenvatting.saldoEnd | currency : 'EUR'}}</div>
            <div class="saldoAfsluitingen">Saldo afsluitingen: {{jaar.samenvatting.saldoAfsluitingen | currency : 'EUR'}}</div>
            <div class="saldoTellingen">Saldo tellingen: {{jaar.samenvatting.saldoTellingen | currency : 'EUR'}}</div>
            <div class="saldoTellingen">Inkomsten: {{jaar.samenvatting.inkomsten | currency : 'EUR'}}</div>
          </div>
        </div>

        <div class="jaarOverzichtRechts">
          <div class="samenvattingTitle">Stuff</div>
          <div class="jaarStuff mat-elevation-z8"></div>
        </div>

      </div>
    </div>

  </div>

</div>
