.container {
  max-width: 1200px;
  margin: 0 auto;
}

.historiekScherm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.jaar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.historiekJaarTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.jaarOverzicht {
  display: flex;
  flex-direction: row;

  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;
}

.jaarOverzichtLinks {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.jaarOverzichtRechts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.samenvattingTitle {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.jaarSamenvatting {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: auto;
  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;

  text-align: center;
  font-size: 1.5em;
}

.tellingenTitle {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.tellingen {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: auto;
  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;
}

.tellingTitle {
  font-weight: bold;
}

.tellingTimestamp {
  grid-column: 1;
}

.theoretischSaldo {
  grid-column: 2;
  text-align: right;
}

.werkelijkSaldo {
  grid-column: 3;
  text-align: right;
}

.verschil {
  grid-column: 4;
  text-align: right;
}

.afsluitingenTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

.afsluitingen {
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 0px;
  grid-auto-rows: auto;
  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;
}

.afsluitingDatum {
  padding: 5px;
  grid-column: 1;
}

.afsluitingOpmerking {
  padding: 5px;
  grid-column: 2;
}

.afsluitingBedrag {
  padding: 5px;
  grid-column: 3;
  text-align: right;
}

.aankopenPerProductTitle {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.aankopenPerProduct {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: auto;
  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;
}

.title {
  font-weight: bold;
}

.klantNaam {
  grid-column: 1;
}

.klantAantal {
  grid-column: 2;
}

.klantBedrag {
  grid-column: 3;
}

