<mat-sidenav-container class="sidenav-container" (backdropClick)="close()">

  <mat-sidenav #sidenav disableClose (keydown.escape)="close()">
    <div>
      <button mat-button routerLink="" (click)="sidenav.close()">Home</button>
    </div>
    <div>
      <button mat-button routerLink="kassa" (click)="sidenav.close()">kassa</button>
    </div>
    <div>
      <button mat-button routerLink="klanten" (click)="sidenav.close()">klanten</button>
    </div>
    <div>
      <button mat-button routerLink="bar" (click)="sidenav.close()">producten</button>
    </div>
    <div>
      <button mat-button routerLink="historiek" (click)="sidenav.close()">historiek</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content (keydown.escape)="close()">
    <div (mouseenter)="sidenav.open()" class="navBarOpener"></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
