<h1 mat-dialog-title class="mat-headline">Kassa afsluiten</h1>

<mat-dialog-content>

  <div class="afsluitenFormFields">
    <mat-form-field>
      <mat-label>Bedrag dat uit de kas wordt gehaald</mat-label>
      <input matInput currencyMask [(ngModel)]="bedrag">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Opmerking</mat-label>
      <textarea matInput rows="5" [(ngModel)]="opmerking"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="ok()">ok</button>
  <button mat-button [mat-dialog-close]="cancel">cancel</button>
</mat-dialog-actions>
