<h1 mat-dialog-title class="mat-headline">Product</h1>

<mat-dialog-content>
  <div class="productForm">
    <mat-form-field>
      <mat-label>Omschrijving</mat-label>
      <input matInput [(ngModel)]="omschrijving" placeholder="omschrijving">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prijs voor leden</mat-label>
      <input matInput currencyMask [(ngModel)]="prijsLid">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prijs voor gasten</mat-label>
      <input matInput currencyMask [(ngModel)]="prijsGast">
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="ok()">ok</button>
  <button mat-button [mat-dialog-close]="cancel">cancel</button>
</mat-dialog-actions>
