.container {
  max-width: 800px;
  margin: 0 auto;
}

.productDetails {
  margin-top: 10px;
}

.productToevoegen {
  margin-top: 10px;
}

.barTitle {
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.productenLijst {
  margin-top: 10px;
  display: grid;
  border: 2px solid #333337;
  border-radius: 5px;
  padding: 1em;
  grid-template-columns: 40px auto 80px 80px 30px 30px 30px 30px;
}

.clickable {
  cursor: pointer;
}

.tableTitle {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tableItem {
  border-top: 1px solid black;
  padding: 10px;
}

.buttonRow {
  margin-top: 20px;
}


