<div class="container">

  <div class="barTitle">Producten beheren</div>

  <div class="productenLijst mat-elevation-z8">
    <div></div>
    <div class="tableTitle">Productomschrijving</div>
    <div class="tableTitle">Lidprijs</div>
    <div class="tableTitle">Gastprijs</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

    <ng-container *ngFor="let product of (stateService.state$ | async).getProducten().getProducten()">
      <div class="productSortOrder tableItem">{{product.sortOrder}}</div>
      <div class="productNaam tableItem">{{product.omschrijving}}</div>
      <div class="productPrijsLid tableItem">{{product.prijsLid | currency : 'EUR'}}</div>
      <div class="productPrijsLid tableItem">{{product.prijsGast | currency : 'EUR'}}</div>
      <div class="productEdit tableItem">
        <img src="img://img/edit.svg" (click)="openProductDialog(product)" class="clickable">
      </div>
      <div class="productDelete tableItem">
        <img src="img://img/delete.svg" *ngIf="!heeftOnbetaaldeAankopen(product.productId)" (click)="deleteProduct(product.productId)" class="clickable">
      </div>
      <div class="productDown tableItem">
        <img src="img://img/down.svg" (click)="moveProductDown(product.productId)" class="clickable">
      </div>
      <div class="productUp tableItem">
        <img src="img://img/up.svg" (click)="moveProductUp(product.productId)" class="clickable">
      </div>
    </ng-container>
  </div>

  <div class="buttonRow">
    <button mat-raised-button color="primary" (click)="openProductDialogVoorNieuwProduct()">Product toevoegen</button>
  </div>

</div>
